body {
    background-color: #fefefe;
}
h2 {
    color: #1460AA;
}
.hotpink-header{
    color: hotpink;
}
#top {
    background-color: #4ce966;
}

a {
    color: orange;
}
header a {
    color: #2ce01c;
}
.paragraf {
    color: rgb(7, 83, 6);
}
.h {
    background-color: #2ce01c;
}
main {
  width: 1000px;
  margin: auto;
}

footer {
    width: 1000px;
  margin: auto;
}
img {
    margin: 0 auto 0 auto;
    border-radius: 10px;
}
nav {
    width: 1000px;
    margin: auto;
}
.navigation {
    background: greenyellow;
    padding: 16px;
    border-radius: 8px;
}
.navigation__link {
    color: white;
    display: inline-block;
    margin-right: 20px;
}
.navigation__link--homepage {
    background: yellow;
    color: black;
}